[submodule "vendor/github.com/hashicorp/terraform"]
	path = vendor/github.com/hashicorp/terraform
	url = https://github.com/hashicorp/terraform.git
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto.git
